<!DOCTYPE html>
<html lang="pl">
<meta charset="UTF-8">
<head>
    <title>Serwer komunikatów</title>
</head>

<style>

table, th, td, tr {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    background: white;
}
</style>

<body>

<div style="float: left; margin: 15px;">
    <a href="/">STRONA GŁÓWNA</a>
    <a href="/">NOWY UŻYTKOWNIK</a>
    <a href="/">WYŚLIJ WIADOMOŚĆ</a>
    <a href="/">USUŃ WIADOMOŚCI</a>
</div>
<div style="float: left">
{% block content %}

{% endblock content %}
</div>
</body>