{% extends "base.html" %}

{% block content %}
    <div style="float: left;">
        <table>
                <tr>
                    <th>Nr</th>
                    <th>Data</th>
                    <th>Nadawca</th>
                    <th>Treść</th>
                    
                </tr>
            
                {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.creation_date }}</td>
                    <td>{{ message.from_id }}</td>
                    <td>{{ message.text }}</td>
                </tr>
                {% endfor %}
                
        </table>
    </div>

    <div style="float: right;">
        <form>
        </form>
    </div>
{% endblock content %}
    