{% extends "base.html" %}

{% block content %}

    <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>E-mail</th>
            </tr>
        
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="/user/{{ user.id }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
            
    </table>
    
{% endblock content %}